.directory-card.MuiCard-root {
  margin: 8px;
  border-radius: 16px;
  width: 30%;
  min-width: 350px;

  div.MuiCardContent-root {
    display: flex;
    padding: 8px 16px;
    align-items: center;

    div.personal-detial {
      margin-left: 16px;
      * {
        margin: 0;
      }

      p {
        color: var(--green-lemon-second);
      }
    }

    div.MuiAvatar-root {
      width: 100px;
      height: 100px;
    }
  }
}

.directory-card.MuiCard-root.mobile {
  margin: 8px 2px;
  min-width: 0px;
  width: 100%;

  div.MuiCardContent-root {
    div.personal-detial {
      h3 {
        font-size: 1em;
      }

      p {
        font-size: 0.8em;
      }
    }

    div.MuiAvatar-root {
      width: 40px;
      height: 40px;
    }
  }
}
