div.read-news {
  div.news-detail {
    padding-bottom: 16px;
    border-bottom: 2px solid var(--light-gray);

    div.MuiCardMedia-root {
      height: 500px;
    }

    div.top-card-news {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 16px;

      div.tags {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
      }

      .how-long {
        text-align: right;
        min-width: 120px;
        color: var(--gray);
      }

      .MuiChip-root {
        margin-right: 8px;
      }
    }
  }
  div.more-news-relate {
      margin-top: 16px;
  }
}
