.news-card.MuiPaper-rounded {
  border-radius: 16px;
}

.news-card.MuiCard-root {
  width: 30%;
  height: 100%;
  padding: 0;
  min-width: 350px;
  margin: 8px;

  .MuiCardMedia-root {
    height: 300px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
    border-radius: 0px 0px 16px 16px;
  }

  .MuiCardActions-root {
    padding: 16px;
  }

  .MuiCardContent-root {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    div.top-card-news {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      div.tags {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
      }
      .how-long {
        text-align: right;
        color: var(--gray);
      }
    }

    .MuiChip-root {
      margin: 4px 8px 4px 0;
    }
  }
}
