.toppick {
  color: var(--green-emeral-primary);
  margin: 0;
}

div.content {
  margin: auto;
  width: 80%;
}

button.read-more-button {
  color: var(--brown-yellow-third) !important;
  border-color: var(--brown-yellow-third) !important;
  border-radius: 16px;
}

.chip {
  color: white !important;
  background-color: var(--green-lemon-second) !important;
}
