.toppick {
  color: var(--green-emeral-primary);
  margin: 0;
}

div.content {
  margin: auto;
  width: 80%;
  padding: 16px 0;
}

button.green-solid-button {
  background-color: var(--green-lemon-second);
  border: 1px solid var(--green-lemon-second);
  color: white;
  border-radius: 16px;
}

button.brown-yellow-outlined-button {
  color: var(--brown-yellow-third);
  border-color: var(--brown-yellow-third);
  border-radius: 16px;
}

div.chip {
  color: white;
  background-color: var(--green-lemon-second);
}

div.directory {
  background-color: var(--light-gray);
}

div.row {
  display: flex;
  flex-direction: row;
}

div.col {
  display: flex;
  flex-direction: column;
}

div.management-card {
  background-color: white;
  border-radius: 32px;
  padding: 32px;

  div.row.action-button {
    margin-top: 16px;
    justify-content: flex-end;
    button.brown-yellow-outlined-button {
      margin-right: 8px;
    }
  }

  //Margin right 4px for any chip component in management
  div.MuiChip-root {
    margin-right: 4px;
  }
}

//Multiselect
li.MuiListItem-root.Mui-selected {
  color: white;
  background-color: var(--green-lemon-second);
}

li.MuiListItem-root.Mui-selected:hover {
  background-color: var(--green-lemon-second);
}

//Table With images and action button
table {
  tbody {
    td {
      div.table-images {
        display: flex;
        flex-direction: row;
        div.MuiCardMedia-root {
          margin-right: 4px;
          width: 32px;
          height: 32px;
          border-radius: 16px;
        }
      }
      div.action-buttons {
        button.MuiIconButton-root {
          color: var(--green-lemon-second);
        }
      }
    }
  }
}
