.toppick {
  color: var(--green-emeral-primary);
  margin: 0;
}

div.content {
  margin: auto;
  width: 80%;
  padding: 16px 0;
}

button.green-solid-button {
  background-color: var(--green-lemon-second);
  border: 1px solid var(--green-lemon-second);
  color: white;
  border-radius: 16px;
}

button.brown-yellow-outlined-button {
  color: var(--brown-yellow-third);
  border-color: var(--brown-yellow-third);
  border-radius: 16px;
}

div.chip {
  color: white;
  background-color: var(--green-lemon-second);
}

div.directory {
  background-color: var(--light-gray);
}

div.row {
  display: flex;
  flex-direction: row;
}

div.col {
  display: flex;
  flex-direction: column;
}
