:root {
  --green-emeral-primary: #3a722a;
  --green-lemon-second: #80b156;
  --green-yellow-bright-third: #eaef9d;

  --dark-green-black-primary: #212619;
  --brown-second: #7a6146;
  --brown-yellow-third: #c09754;
}
