:root {
  --green-emeral-primary: #3a722a;
  --green-lemon-second: #80b156;
  --green-lemon-second-hover: #6F994A;
  --green-yellow-bright-third: #eaef9d;

  --dark-green-black-primary: #212619;
  --brown-second: #7a6146;
  --brown-yellow-third: #c09754;
  --brown-yellow-third-hover: #A68249;

  --light-gray: #f3f3f3;
  --gray: #aeaeae;

  --green-back-30: #64675e;
}
