div.about-village {
  
  div.detail {
    display: flex;
    align-items: flex-start;
    padding: 16px 0;

    .MuiCardMedia-root {
      width: 40%;
      border-radius: 16px;
    }

    .MuiTypography-root {
      padding-left: 32px;
      text-indent: 16%;
      width: 60%;
      font-size: 1.3em;
    }
  }
}
