body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  textarea,
  .MuiInputBase-input,
  .MuiTypography-root,
  .MuiButtonBase-root,
  .MuiInputLabel-root,
  .MuiChip-root {
    font-family: "Kanit", sans-serif;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--green-lemon-second);
  }

  label.MuiFormLabel-root.Mui-focused {
    color: var(--green-lemon-second);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
